<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 文件读取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 位置定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!-- 近似位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!-- 精确位置 -->
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 麦克风权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 壁纸权限 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 日历权限 -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- 推送权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".base.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitSample"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="33">

        <activity
            android:name=".main.ActivitySplash"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.ActivityFunctionList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.lock.gesture.ActivityGestureLock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.lock.finger.ActivityFingerLock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.screen.ActivityShotScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".system.ActivitySystemList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".system.permission.ActivityPermissionCheck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".system.permission.ActivityPermissionRequest"
            android:theme="@style/ThemeTransparent" />
        <activity
            android:name=".system.file.ActivityFileManager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.wallpaper.ActivityWallpaper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".system.screen.ActivityScreenTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".system.screen.ActivityDarkActionBar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".system.screen.ActivityNoActionBar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".function.shortcut.ActivityShortcut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.shortcut.ActivityShortcutTarget"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.drag.ActivityFloatDrag"
            android:screenOrientation="portrait" />
        <activity
            android:name=".canvas.ActivityCanvasList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".canvas.ActivityCanvasShow"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".function.shortcut.ShortcutReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.shortcut.core.try_create" />
            </intent-filter>
        </receiver>
    </application>

</manifest>